{% extends "base.twig" %}

{% block content %}
    <div class="row ">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-10">
                        <h4>To get different data sources append url with "?src=google" or "?src=json"</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-3">
                        {{ include('weather-block.twig', {item: weather}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
